{% if title %}
    <h3>{{ title }}</h3>
{% endif %}
<div class="views-data">
    <div class="row">
        <div class="default-view-mode-data">
            {% for row in rows %}
                <div{{ row.attributes.setAttribute('data-order-numeric',loop.index) }}>
                    <div class="item default-view-mode">
                        {{ row.content }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="modal fade" id="modalPlayer" tabindex="-1" role="dialog" aria-labelledby="myModalPlayer">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-view-mode-data modal-player-slick">
                            {% for row in rows %}
                                <div{{ row.spec_attributes.setAttribute('data-order-numeric',loop.index) }}>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
